[Unit]
Description=koyu.space E43 Bot
After=network.target

[Service]
User=koyu
WorkingDirectory=/home/koyu/e43/
Environment="HOME=/home/koyu"
Environment="TOKEN="
ExecStart=/usr/bin/python3 main.py
ExecReload=/bin/kill $MAINPID
KillMode=process
Restart=on-failure

[Install]
WantedBy=multi-user.target
Alias=e43bot.service